# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

#SPIP
tmp/
ecrire/
local/
plugins-dist/
prive/
squelettes-dist/
config/
INSTALL.txt

#Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/


# Legacy ZF1
demos/
extras/documentation

application/configs/applicationGapaii.ini

tmp/upload/Iks'Ray - Preėsentation.pdf

public/indexGapai.php

application/configs/applicationGapai.ini

IMG/distant/csl/principalxml369a.csl

IMG/distant/csl/principalxml369a.csl

IMG/distant/csl/principalxml369a.csl

IMG/distant/csl/principalxml369a.csl.md5.txt

bddControverse.mwb.bak

bdd/flux_explagora.sql.zip
